@model List<AuthorsViewModel>

<div class="list-group col-md-4">
    @foreach (var author in Model)
    {
        <a asp-controller="Author" asp-action="ById" asp-route-id="@author.Id" class="list-group-item">
            @author.FullName - Published books: @author.Books
        </a>
    }
</div>